body {
    font-family: sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    margin: 20px auto;
    border: 3px solid black;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
}

.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(9n) {
    border-right: none;
}

.row:nth-child(3n) .cell {
    border-bottom: 2px solid black;
}

.row:nth-child(9) .cell {
    border-bottom: none;
}

#solve-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
